{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body border-bottom">
                <div class="account-info">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                </div>
            </div><br>
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="form-group border-bottom mb-4">
                <legend class="mb-2">Account Info</legend>
                {% for field in [form.client_id, form.client_secret, form.client_name] %}
                    <div class="form-group">
                        {{ field.label(class="form-control-label") }}
                        {% if field.errors %}
                            {{ field(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endfor %}
            <br></fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}