{% extends "layout.html" %}
{% block content %}
    <div class="contact">
        <h1>Authors</h1>
        <div class="authors-container">
            <div class="author">
                <div class="author-info">
                    <h2>Krzysztof Głowacz</h2>
                    <a href="https://github.com/Krisenberg" class="github-link">
                        <i class="fab fa-github github-icon"></i>
                        GitHub Profile
                    </a>
                </div>
            </div>
            <div class="author">
                <div class="author-info">
                    <h2>Mateusz Luberda</h2>
                    <a href="https://github.com/qmatixx" class="github-link">
                        <i class="fab fa-github github-icon"></i>
                        GitHub Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}