{% extends "layout.html" %}
{% block content %}
<div class="strategy1">
    <form action="/strategy1" method="POST">
        <h1>Enter the start year of the range</h1>
        <label for="start_year">Year:</label>
        <input type="number" id="start_year" name="start_year" required value="{{ start_year or '2022' }}"><br>
        
        <h2>Enter the last year of the range</h2>
        <label for="end_year">Year:</label>
        <input type="number" id="end_year" name="end_year" required value="{{ end_year or '2023' }}"><br>
    
        <h3>How many songs do you want in your playlist?</h3>
        <label for="limit">Limit:</label>
        <input type="number" id="limit" name="limit" required value="{{ limit or '10' }}"><br>
    
        <h4>Chose the target country (your country is default):</h4>
        <input type="radio" id="market_poland" name="market" value="PL"{% if 'PL' in market %}checked{% endif %}>
        <label for="market-poland">PL</label><br>
    
        <input type="radio" id="market_usa" name="market" value="US"{% if 'US' in market %}checked{% endif %}>
        <label for="market-usa">US</label><br>
    
        <input type="radio" id="market_uk" name="market" value="GB"{% if 'GB' in market %}checked{% endif %}>
        <label for="market-uk">GB</label><br>

        <h5>Your playlist name:</h5>
        <input type="text" id="playlist_name" name="playlist_name" required value="{{ playlist_name or 'PlayMe' }}"><br>

        <h6>Your playlist description:</h6>
        <input type="text" style="width: 500px;" id="playlist_description" name="playlist_description" required value="{{ playlist_description or 'Playlist created by PlayMe' }}"><br>


        <button type="submit" id="generate_button">Create a playlist</button>
    </form>
    {% if playlist %}
        <div class="playlist-link">
            <h2>Generated Playlist:</h2>
            <a href="{{ playlist }}" target="_blank">{{ playlist }}</a>
        </div>
    {% endif %}
    {% if error_message %}
        <div class="error-message">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
</div>
{% endblock content %}